
.auth-container {
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
    background-color: grey;
    color: #121212;

    .auth-title {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}