@import 'bootstrap';
@import 'bootstrap-icons';

@import 'root-layout';
@import 'post-layout';
@import 'meetup-layout';
@import 'auth';

.test-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}